DEBUG=1

DJANGO_SETTINGS_MODULE=core.settings
DJANGO_SECRET_KEY=blablabla
DJANGO_ALLOWED_HOSTS=*
DJANGO_CSRF_TRUSTED_ORIGINS=http://* https://*
DJANGO_ADMIN_URL=admin/

DATABASE_ENGINE=django.db.backends.postgresql

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
